/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "../components/uikit/scss/uikit-mixins.scss";
@import "../components/uikit/scss/uikit.scss";
@import "fonts";

$font             : SanFrancisco "Helvetica Neue", Helvetica, Arial, sans-serif;
$backgroundColor  : #fff;
$linkColor        : #aeaeae;
$hoverLinkColor   : #777;

@mixin boxSizing($sizing) {
  box-sizing          : $sizing;
  -webkit-box-sizing  : $sizing;
  -moz-box-sizing     : $sizing;  
}

html {
    text-rendering         : optimizeLegibility !important;
    -webkit-font-smoothing : antialiased !important;
    font                   : 112.5%/1.4444444 $font;
    color                  : #47525d;
    background             : $backgroundColor;
}

body {
  max-width: 960px !important;
  margin:0 auto;
}

.menu-icon {
  font-size:30px;
}

#top-nav {
  margin:1px 0 0 16px !important;
  padding:0;
  
  li {
    margin-right:8px;
    float:right;

    a {
      color:$linkColor;

      &:hover {
        color:$hoverLinkColor;
      }
    }
  }
}

#me {
  h1 {
    font-size:60px !important;
  }

  h2 {
    color:#c0c0c0;
    font-size:16px !important;
  }
}

#works {
  .uk-panel-box {
    background: rgba(#dfe9f3, 0.6) !important;
    border:1px solid rgba(#dfe9f3, 0.8) !important;
  }

  .image-box {
    overflow:hidden;
    padding:40px 72px;
    height:240px !important;

    img {
      display:block;
      @include box-shadow(rgba(black, 0.2) 0 0 12px);
    }
  }
}

footer {
  p {
    margin:0;
    padding:0 0 0 8px;
    color:#ccc;
  }

  a {
    color:#ccc !important;

    &:hover {
      color:$hoverLinkColor !important;
    }
  }

  .fa {
    font-size:20px !important;
  }
}


